{% extends "base.html" %}

{% block content %}

<h1>Admin Panel</h1>

<p>Access key: {{ password }}</p>

<p>Click below to change the access key</p>

<form action="" method="post">
    <p>
        {{ form.submit() }}
    </p>
</form>

<button id="copy-button" onclick="copyToClipboard()">Copy access key</button>

<table>
  <tr>
    <th>Name</th>
    <th>Attendances</th>
  </tr>
    {% for item in data %}
  <tr>
    <td>{{ item[0] }}</td>
    <td>{{ item[1] }}</td>
  </tr>
    {% endfor %}
</table>


<script>
    function copyToClipboard() {
        var textToCopy = "{{ password }}";

        navigator.clipboard.writeText(textToCopy)
            .then(function() {
                const p = document.createElement("p");
                p.innerHTML = "Copied to clipboard!";
                document.body.appendChild(p);
                setTimeout(function() {
                    p.remove();
                }, 1800);
            })
            .catch(function(error) {
                alert("Failed to copy text to clipboard: " + error);
            });
    }
</script>

{% endblock %}