<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Math Center Tracker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="page">

    {% block content %} {% endblock %}
    <div id = "footer">
    <a href="{{ url_for('index')}}">return home</a>
    <a href="{{ url_for('sql')}}">debug</a>
    <a href="{{ url_for('admin')}}">admin</a>
    <a href="{{ url_for('login')}}">login</a>
    <a href="{{ url_for('logout')}}">logout</a>

    </div>
</div>
</body>
</html>