{% extends "base.html" %}
{% block title %}Form{% endblock %}


{% block content %}

<div class="card">
    <form action="" method="post">
        <h1>Math Center Tracker</h1>
        <div class="content">
            <div class="input-field">
                {{ form.name.label }}
                {{ form.name }}
            </div>
            <div class="input-field">
                {{ form.studentid.label }}
                {{ form.studentid }}
            </div>
            <div class="input-field">
                {{ form.teacher.label }}
                {{ form.teacher }}
            </div>
            <div class="input-field">
                {{ form.key.label }}
                {{ form.key }}
            </div>
        </div>
        <div class="action">
            {{ form.submit }}
        </div>
    </form>
        {% if message %}
        <p><strong>Message:</strong> {{ message }}</p>
        {% endif %}
</div>


{% endblock %}