{% extends "base.html" %}
{% block title %}Teacher Login{% endblock %}


{% block content %}



<div class="card">
    <form action="" method="post">
        <h1>Teacher Login</h1>
        <div class="content">
                <div class="input-field">
                    {{ form.username.label }}
                    {{ form.username }}
                </div>
                <div class="input-field">
                    {{ form.password.label }}
                    {{ form.password }}
                </div>
        </div>
        <div class="action">
            {{ form.submit }}
        </div>
    </form>
</div>

<style>
    body {
        background: #e358e1;
    }

</style>


{% endblock %}